@page
@model Pitch.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<form method="post" asp-page="/Account/Logout" class="d-inline">
    <button type="submit" class="dropdown-item btn btn-link p-0 m-0 align-baseline">Sair</button>
</form>